
* {
    margin:0px;
}








#header-pattern {
    height: 170px;

    background-size: auto;
    background-color: #5FB3CE;
    background-image: url(../img/pattern.png);
    
}

#header-logo {

    height: 120px;
    width: 190px;
    padding-top: 70px;
    padding-left: 20px;

}
#header-title {
    font-size: 45px;
    margin:10px;
}
#headerspan1 {
    color: gray;
    font-size: large;
    margin: 10px;
}


#headerspan3{
    margin: 10px;
    font-size: small;
} 
#link{
    text-decoration: none;
    font-weight: 700;
    color: lightseagreen;
}
#images-section{
    padding-left: 10px;
}
#TimImages1{
    width: 700px;
    height: 545px;
}
#TimImages2{
    width: 700px;
}
.images-decription{
    font-size: small;
    margin-left: 10px;
}
#pspan{
    background-color: yellow;
}
p{
    margin-left: 10px;
    margin-top: 20px;
    font-size:large;
}
#ul-section{
   
    margin-top: 20px;
    
    font-size: large;
}

table{
    width:100%;
    padding-left: 10px;
    padding-top: 20px;
    column-rule-style: hidden;
    column-rule-width: 0px;
}
#tr1 {
    background-color: #21abcd;
    color: white;
}
#tr2 {
    background-color: #bcd4e6;
}
#tr4 {
    background-color: #bcd4e6;
}
#th3-1 {
    text-align: left;
}
#final-section{
    color: grey;
    margin-left: 10px;
    margin-top: 20px;
    font-size: large;
    font-weight: 800;
}
#div-image1{
    height: 200px;
    width: 300px;
    background-image: url(../img/monitor.jpg);
    color: white;
    margin-top: 10px;

}
#div-image2{
    height: 200px;
    width: 300px;
    background-image: url(../img/graph.jpg);
    color: white;
    margin-top: 10px;

}